{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_row(form.nomcategorie, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'onchange': 'previewImage(event)', 'id': 'image_upload', 'class': 'form-control'}}) }}

    <img id="image_preview" src="#" alt="Aperçu de l'image" style="max-width: 200px; display: none; margin-top: 10px;" />

    <button type="submit" class="btn-neumorphic mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('image_preview');

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
        }
    }
</script>
