{% extends 'base-front.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
           <img src="https://plus.unsplash.com/premium_photo-1661769750859-64b5f1539aa8?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdCUyMGltYWdlfGVufDB8fDB8fHww" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.nomProduit }}</h3>
            <p>{{ product.fournisseur }}</p>
            <span class="product-page-price">{{ (product.prix / 100)|number_format(2, ',', '.') }} TND</span>
            <hr>
            <p>
                {{ product.fournisseur }}
            </p>
            <a href="{{ path('app_add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    
{% endblock %}
